<div class="container">
  <h1><%= @restaurant.name %> </h1>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= @restaurant.name %>
      <%= @restaurant.category%>
    </div>

    <div class="col-xs-12 col-md-6">
      <%= @restaurant.phone_number%>
      <%= @restaurant.address%>
    </div>
  </div>

  <% @restaurant.reviews.each do |review|  %>
    <div class="row">
      <div class="col-xs-12">
      <%= review.content %>
      <%= review.rating%>
      </div>
    </div>
  <% end  %>


  <div class="row">
    <div class="col-xs-12">
      <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= link_to "All restaurants", restaurants_path %>
    </div>
  </div>
</div>
